<p id="notice"><%= notice %></p>
<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-1'>
      <strong>Slot</strong>
    </div>
    <div class = 'col-3'>
      <%= @clip.slot %>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-1'>
      <strong>Volume</strong>
    </div>
    <div class = 'col-3'>
      <%= @clip.volume %>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-1'>
      <strong>Number</strong>
    </div>
    <div class = 'col-3'>
      <%= @clip.number %>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-1'>
      <strong>Name</strong>
    </div>
    <div class = 'col-3'>
      <%= @clip.name %>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-1'>
      <strong>Filename</strong>
    </div>
    <div class = 'col-3'>
      <%= @clip.filename %>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-1'>
      <strong>Timecode</strong>
    </div>
    <div class = 'col-3'>
      <%= @clip.timecode %>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-1'>
      <strong>Duration</strong>
    </div>
    <div class = 'col-3'>
      <%= @clip.duration %>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-1'>
      <strong>Machine</strong>
    </div>
    <div class = 'col-3'>
      <%= @clip.machine.name if @clip.machine %>
    </div>
  </div>

  <%= link_to 'Edit', edit_clip_path(@clip) %> |
  <%= link_to 'Back', clips_path %>
</div>

  
