<%= form_with(model: machine, local: true) do |form| %>
  <% if machine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(machine.errors.count, "error") %> prohibited this machine from being saved:</h2>

      <ul>
        <% machine.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group row">
    <%= form.label :name, class: 'col-2 col-form-label pull-right' %>
    <div class="col-6">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group row">
    <%= form.label :ip, "IP Address", class: 'col-2 col-form-label' %>
    <div class="col-6">
      <%= form.text_field :ip, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group row">
    <%= form.label :port, class: 'col-2 col-form-label' %>
    <div class="col-6">
      <%= form.text_field :port, class: 'form-control'  %>
    </div>
  </div>

  <div class="actions form-group row">
    <div class="col-6 offset-2">
      <%= form.submit nil, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
