<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @machine.name %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @machine.ip %>
</p>

<p>
  <strong>Port:</strong>
  <%= @machine.port %>
</p>

<% if @messages %>
  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <% @messages.each do |message| %>
        <li class="list-group-item"><%= message %></li>
      <% end %>    
    </ul>
  </div>
<% end %>

<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>
<%= link_to 'Connect', connect_machine_path %>
