<!DOCTYPE html>
<html>
  <head>
    <title>Testything</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'Hypo Testything', root_path, class: "navbar-brand navbar-dark bg-primary" %>
      </div>
      <div class="navbar-nav">
        <%= link_to 'Machines', machines_path, class: "nav-item nav-link navbar-dark bg-primary" %>
        <%= link_to 'Clips', clips_path, class: "nav-item nav-link navbar-dark bg-primary" %>
      </div>
    </div>
  </nav>
  <div id="main-container" class="container">
    <body>
      <%= yield %>
    </body>
  </div>
</html>
